/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    font-family: "Open sans", serif;
    font-optical-sizing: auto;
    font-weight: thin;
    font-style: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}

html{
    scroll-behavior: smooth;
}

body{
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f3f4f6;
    color: #333;
}

h3{
    margin-top: 30px;
}

.btn-primary{
    margin-top: 10px;
}

.header, .footer {
  background: #f3f4f6;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  padding: 1rem;
}   

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #ddd 1px solid;
}

.modal h2{
    font-size: 1.3rem;
    margin-bottom: 4px;
    color: #2563eb;
    font-weight: 600;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
    background-color: white;
    margin: 12% auto;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
}

#modalAdicionarCombustivel .modal-content{
    margin: 9% auto;
    width: 30%;
    height: 50%;
}

.modal-content select, input {
    font-size: 0.75rem;
    height: 2rem;
}

.close {
    font-size: 24px;
    cursor: pointer;
}

.swal2-icon, .swal2-icon-content { 
    overflow: hidden !important
 }