/* :root {
  --background-light: #f7f9fc;
  --background-dark: #121212;
  --card-light: #ffffff;
  --card-dark: #1e1e1e;
  --text-light: #333;
  --text-dark: #e0e0e0;
  --primary-color: #027fe9;
  --accent-color: #e30842;
  --border-color-light: #ddd;
  --border-color-dark: #333;
  --hover-link: #e30842;
  --background-footer: #1f2a44;
  --text-footer: #fff;
}

@media (prefers-color-scheme: dark) {
  body {
      background-color: var(--background-dark);
      color: var(--text-dark);
  }
  .form-div {
      background-color: var(--card-dark);
      border: 1px solid var(--border-color-dark);
  }
  input, button {
      background-color: #2a2a2a;
      color: var(--text-dark);
      border: 1px solid #444;
  }
  .table-container {
      background-color: var(--card-dark);
  }
  table {
      color: var(--text-dark);
  }
}

@media (prefers-color-scheme: light) {
  body {
      background-color: var(--background-light);
      color: var(--text-light);
  }
  .form-div {
      background-color: var(--card-light);
      border: 1px solid var(--border-color-light);
  }
  input, button {
      background-color: #fff;
      color: var(--text-light);
      border: 1px solid var(--border-color-light);
  }
  .table-container {
      background-color: var(--card-light);
  }
  table {
      color: var(--text-light);
  }
} */

h3 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.table-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px;
  text-align: left;
  border: 1px solid var(--border-color-light);
}

th {
  background-color: var(--primary-color);
  /* color: white; */
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

td a {
  color: var(--primary-color);
  text-decoration: none;
  margin-right: 8px;
}

td a:hover {
  text-decoration: underline;
}

td {
  position: relative;
}

@media screen and (max-width: 768px) {
  .table-container {
      display: block;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch; /* melhor para mobile */
  }

  table thead { 
      display: none; 
  }

  table, tbody, tr, td {
      display: block;
      width: 100%;
  }

  tr {
      margin-bottom: 1rem;
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 10px;
      background-color: #f9f9f9;
  }

  td {
      text-align: right;
      padding-left: 50%;
      position: relative;
  }

  td::before {
      content: attr(data-label);
      position: absolute;
      left: 10px;
      top: 0;
      bottom: 0;
      font-weight: bold;
      text-align: left;
  }
}
